CompileFlags:
  Add:
    - -xc
    - -I.
    - -I..
    - -I../..
    - -I../../..
    - -Iinclude
    - -I../include
    - -I../../include
    - -I../../../include
    - -I../../../../include
    - -I../libs
    - -I../../libs
    - -I../../../libs
    - -I../../../../libs
    - -I../libs/nemu-ref/include
    - -I../../libs/nemu-ref/include
    - -I../../../libs/nemu-ref/include
    - -I../../../../libs/nemu-ref/include
